openapi: 3.1.0
info:
  title: VaultFront Game API
  version: 1.0.0
  description: |
    Internal REST API served by VaultFront's Master and Worker processes.
    All `/api/vaultfront/*` endpoints are VaultFront-specific additions on top
    of the OpenFrontIO base. Authentication uses JWT bearer tokens issued
    by the external API service (api-vaultfront.vaultsparkstudios.com).
  contact:
    name: VaultSpark Studios
    url: https://vaultsparkstudios.com

servers:
  - url: https://play-vaultfront.vaultsparkstudios.com
    description: Production gameplay server
  - url: http://localhost:3000
    description: Local development (Master/Worker 0)

tags:
  - name: env
    description: Environment and health endpoints
  - name: game
    description: Game lifecycle (create, start, query)
  - name: vault-contracts
    description: VaultFront season contracts
  - name: vault-ab
    description: VaultFront A/B experiment tracking
  - name: vault-outcome
    description: VaultFront game outcome telemetry
  - name: vault-funnel
    description: VaultFront player funnel telemetry
  - name: vault-clans
    description: VaultFront clans and squads
  - name: vault-tournaments
    description: VaultFront tournaments
  - name: vault-rematch
    description: VaultFront rematch continuity
  - name: vault-replay
    description: VaultFront replay and highlight sharing
  - name: vault-prediction-league
    description: VaultFront spectator prediction league
  - name: vault-season
    description: VaultFront season pass and community mutator voting
  - name: misc
    description: Miscellaneous endpoints
  - name: admin
    description: |
      Internal operator-only endpoints gated by a shared admin token
      (see RoutePolicyManifest.ts). Not part of the public/agent-facing
      contract; documented here only as present-and-internal (S99 audit
      #181), not with full request/response schemas.

paths:
  /api/env:
    get:
      tags: [env]
      summary: Get client environment config
      description: Returns public config values needed by the client (Turnstile key, env name, etc.)
      responses:
        "200":
          description: Environment config object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvConfig"

  /api/health:
    get:
      tags: [env]
      summary: Health check
      description: Returns 200 when the server is alive. Used by load balancers and Dockerfile HEALTHCHECK.
      responses:
        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /commit.txt:
    get:
      tags: [env]
      summary: Deployed git commit SHA
      description: Returns the git commit SHA of the running build. Used by deploy workflows to verify rollout.
      responses:
        "200":
          description: Git SHA string
          content:
            text/plain:
              schema:
                type: string
                example: "abc1234def5678"

  /api/create_game/{id}:
    post:
      tags: [game]
      summary: Create a new game instance
      parameters:
        - $ref: "#/components/parameters/GameId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGameRequest"
      responses:
        "200":
          description: Game created successfully
        "400":
          description: Invalid game config
        "409":
          description: Game ID already exists

  /api/start_game/{id}:
    post:
      tags: [game]
      summary: Start a created game
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: Game started
        "404":
          description: Game not found

  /api/game/{id}/exists:
    get:
      tags: [game]
      summary: Check if a game exists
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: Existence check result
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean

  /api/game/{id}:
    get:
      tags: [game]
      summary: Get game metadata
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: Game metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameMeta"
        "404":
          description: Game not found

  /game/{id}:
    get:
      tags: [game]
      summary: Game preview page (server-rendered)
      parameters:
        - $ref: "#/components/parameters/GameId"
      responses:
        "200":
          description: HTML preview page for the game
          content:
            text/html:
              schema:
                type: string

  /api/archive_singleplayer_game:
    post:
      tags: [game]
      summary: Archive a completed single-player game
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArchiveGameRequest"
      responses:
        "200":
          description: Game archived

  # VaultFront — Season Contracts
  /api/vaultfront/contracts:
    get:
      tags: [vault-contracts]
      summary: Get active season contracts for the authenticated player
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Season contracts list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractsResponse"
        "401":
          description: Unauthorized

  /api/vaultfront/contracts/update:
    post:
      tags: [vault-contracts]
      summary: Update progress on season contracts after a game
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractUpdateRequest"
      responses:
        "200":
          description: Contracts updated

  # VaultFront — A/B: Dock experiment
  /api/vaultfront/ab/dock/assignment:
    get:
      tags: [vault-ab]
      summary: Get dock A/B experiment assignment for the current player
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Experiment variant assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbAssignment"

  /api/vaultfront/ab/dock/event:
    post:
      tags: [vault-ab]
      summary: Record a dock experiment event
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AbEvent"
      responses:
        "200":
          description: Event recorded

  /api/vaultfront/ab/dock/summary:
    get:
      tags: [vault-ab]
      summary: Get dock experiment summary (admin)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Experiment summary data

  # VaultFront — A/B: Recap experiment
  /api/vaultfront/ab/recap/assignment:
    get:
      tags: [vault-ab]
      summary: Get recap A/B experiment assignment
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Recap variant assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbAssignment"

  /api/vaultfront/ab/recap/event:
    post:
      tags: [vault-ab]
      summary: Record a recap experiment event
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AbEvent"
      responses:
        "200":
          description: Event recorded

  /api/vaultfront/ab/recap/summary:
    get:
      tags: [vault-ab]
      summary: Get recap experiment summary (admin)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Summary data

  # VaultFront — A/B: Runtime experiment
  /api/vaultfront/ab/runtime/assignment:
    get:
      tags: [vault-ab]
      summary: Get runtime A/B experiment assignment
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Runtime variant assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbAssignment"

  /api/vaultfront/ab/runtime/event:
    post:
      tags: [vault-ab]
      summary: Record a runtime experiment event
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AbEvent"
      responses:
        "200":
          description: Event recorded

  /api/vaultfront/ab/runtime/summary:
    get:
      tags: [vault-ab]
      summary: Get runtime experiment summary (admin)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Summary data

  # VaultFront — Outcome telemetry
  /api/vaultfront/outcome:
    post:
      tags: [vault-outcome]
      summary: Record a game outcome event (win/loss, stats)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OutcomeEvent"
      responses:
        "200":
          description: Outcome recorded

  /api/vaultfront/outcome/summary:
    get:
      tags: [vault-outcome]
      summary: Get outcome summary for current player
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Player outcome summary

  # VaultFront — Funnel telemetry
  /api/vaultfront/funnel:
    post:
      tags: [vault-funnel]
      summary: Record a player funnel event
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FunnelEvent"
      responses:
        "200":
          description: Funnel event recorded

  /api/vaultfront/funnel/summary:
    get:
      tags: [vault-funnel]
      summary: Get funnel summary (admin)
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Funnel summary data

  # VaultFront — Clans (S99 audit #181)
  /api/clans:
    post:
      tags: [vault-clans]
      summary: Create a clan
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Clan created
        "409":
          description: Name/tag taken, profanity rejected, or already in a clan

  /api/clans/leaderboard:
    get:
      tags: [vault-clans]
      summary: Get the clan leaderboard, ranked by clan Elo
      responses:
        "200":
          description: Ranked clan leaderboard

  /api/clans/{clanId}:
    get:
      tags: [vault-clans]
      summary: Get a clan's public profile and member roster
      parameters:
        - name: clanId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Clan with members
        "404":
          description: Clan not found

  /api/clans/player/{persistentId}:
    get:
      tags: [vault-clans]
      summary: Get the clan a player currently belongs to, if any
      parameters:
        - name: persistentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Clan membership, or null

  /api/clans/{clanId}/join:
    post:
      tags: [vault-clans]
      summary: Join an existing clan
      security:
        - bearerAuth: []
      parameters:
        - name: clanId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Joined
        "409":
          description: Clan full or already in a clan

  /api/clans/leave:
    post:
      tags: [vault-clans]
      summary: Leave the caller's current clan
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Left clan

  # VaultFront — Tournaments (S99 audit #181)
  /api/tournaments:
    get:
      tags: [vault-tournaments]
      summary: List open/active tournaments
      responses:
        "200":
          description: Tournament list
    post:
      tags: [vault-tournaments]
      summary: Create a tournament
      security:
        - bearerAuth: []
      responses:
        "201":
          description: Tournament created

  /api/tournaments/{id}:
    get:
      tags: [vault-tournaments]
      summary: Get tournament details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Tournament details
        "404":
          description: Tournament not found

  /api/tournaments/{id}/bracket:
    get:
      tags: [vault-tournaments]
      summary: Get the tournament bracket
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bracket state

  /api/tournaments/{id}/register:
    post:
      tags: [vault-tournaments]
      summary: Register the caller for a tournament
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Registered

  /api/tournaments/{id}/seed:
    post:
      tags: [vault-tournaments]
      summary: Seed the tournament bracket once registration closes
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bracket seeded

  /api/tournaments/matches/{matchId}/report:
    post:
      tags: [vault-tournaments]
      summary: Report a certified match result into the tournament bracket
      security:
        - bearerAuth: []
      parameters:
        - name: matchId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Result recorded and bracket advanced

  # VaultFront — Rematch continuity (S99 audit #181)
  /api/rematch/{gameId}:
    post:
      tags: [vault-rematch]
      summary: Create or join a certified rematch of a prior source game
      description: |
        Requires a verified actor who belongs to the live source game or to
        a valid archived result-certificate roster; knowing a game ID alone
        does not authorize cloning its private configuration.
      security:
        - bearerAuth: []
      parameters:
        - name: gameId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Rematch created/joined
        "403":
          description: Caller is not a verified source participant

  /api/rematch/status/{gameId}:
    get:
      tags: [vault-rematch]
      summary: Get rematch status for a source game
      parameters:
        - name: gameId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Rematch status

  /api/rematch/code/{code}:
    get:
      tags: [vault-rematch]
      summary: Resolve a rematch join code to its game
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Resolved rematch game
        "404":
          description: Unknown or expired code

  # VaultFront — Replay and highlight sharing (S99 audit #181)
  /api/replays:
    get:
      tags: [vault-replay]
      summary: List available replays
      responses:
        "200":
          description: Replay list

  /api/replay/{id}:
    get:
      tags: [vault-replay]
      summary: Get a stored replay
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Replay data
        "404":
          description: Replay not found

  /api/replay/{gameId}/highlight:
    get:
      tags: [vault-replay]
      summary: Get the auto-generated highlight for a certified match
      parameters:
        - name: gameId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Signed highlight share

  /api/replay/{gameId}/clip:
    post:
      tags: [vault-replay]
      summary: Create a custom bounded-range replay clip share
      description: |
        Public per RoutePolicyManifest -- clip creation binds to signed
        replay evidence rather than caller identity, so no bearer token is
        required, but every clip is content-addressed and independently
        verifiable.
      parameters:
        - name: gameId
          in: path
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Signed clip share created

  # VaultFront — Prediction League (S99 audit #181)
  /api/vaultfront/prediction-league/predict:
    post:
      tags: [vault-prediction-league]
      summary: Submit a prediction pick for a live, still-open game
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Pick recorded
        "409":
          description: Game already resolved or duplicate pick

  /api/vaultfront/prediction-league/leaderboard:
    get:
      tags: [vault-prediction-league]
      summary: Get the prediction league leaderboard
      responses:
        "200":
          description: Ranked leaderboard

  /api/vaultfront/prediction-league/games/{gameId}/consensus:
    get:
      tags: [vault-prediction-league]
      summary: Get privacy-minimal live prediction consensus for a game
      parameters:
        - name: gameId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Consensus summary

  /api/vaultfront/prediction-league/stats:
    get:
      tags: [vault-prediction-league]
      summary: Get aggregate prediction league stats
      responses:
        "200":
          description: Aggregate stats

  /api/vaultfront/prediction-league/stats/{spectatorId}:
    get:
      tags: [vault-prediction-league]
      summary: Get a spectator's private prediction accuracy stats
      parameters:
        - name: spectatorId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Spectator stats, or null

  # VaultFront — Season pass and community voting (S99 audit #181)
  /api/season/current:
    get:
      tags: [vault-season]
      summary: Get the current season contract cycle
      responses:
        "200":
          description: Current season descriptor

  /api/mutator-vote:
    post:
      tags: [vault-season]
      summary: Cast one weekly community mutator ballot
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Vote recorded

  /api/vaultfront/season-progress/{persistentId}:
    get:
      tags: [vault-season]
      summary: Get a player's season pass progress
      parameters:
        - name: persistentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Season pass progress

  /api/vaultfront/season-progress/claim:
    post:
      tags: [vault-season]
      summary: Claim an earned season pass reward tier
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Reward claimed
        "409":
          description: Tier not yet earned or already claimed

  # Admin (internal-only; documented as present, not with full schemas — S99 #181)
  /api/admin/vaultfront/runtime-integrity-passport:
    get:
      tags: [admin]
      summary: Runtime integrity passport (internal)
      security:
        - adminToken: []
      responses:
        "200":
          description: Internal-only
  /api/admin/anti-cheat/flagged:
    get:
      tags: [admin]
      summary: Flagged-match anti-cheat queue (internal)
      security:
        - adminToken: []
      responses:
        "200":
          description: Internal-only
  /api/admin/ab/results:
    get:
      tags: [admin]
      summary: Unified experiment results (internal)
      security:
        - adminToken: []
      responses:
        "200":
          description: Internal-only
  /api/admin/match-ratings:
    get:
      tags: [admin]
      summary: Raw match feedback ratings (internal)
      security:
        - adminToken: []
      responses:
        "200":
          description: Internal-only
  /api/admin/vaultfront/certified-outcomes:
    get:
      tags: [admin]
      summary: Certified outcome admin view (internal)
      security:
        - adminToken: []
      responses:
        "200":
          description: Internal-only

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT issued by api-vaultfront.vaultsparkstudios.com
    adminToken:
      type: apiKey
      in: header
      name: X-VaultFront-Admin
      description: |
        Shared operator token (see config.adminHeader()/adminToken()).
        Internal-only; never distributed to players or third-party agents.

  parameters:
    GameId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Unique game identifier (nanoid)

  schemas:
    EnvConfig:
      type: object
      properties:
        turnstileSiteKey:
          type: string
        env:
          type: string
          enum: [dev, preprod, prod]
        domain:
          type: string

    CreateGameRequest:
      type: object
      required: [config]
      properties:
        config:
          type: object
          description: GameConfig schema (see src/core/Schemas.ts)

    GameMeta:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [waiting, active, finished]
        playerCount:
          type: integer
        createdAt:
          type: string
          format: date-time

    ArchiveGameRequest:
      type: object
      required: [gameId]
      properties:
        gameId:
          type: string

    ContractsResponse:
      type: object
      properties:
        contracts:
          type: array
          items:
            $ref: "#/components/schemas/SeasonContract"

    SeasonContract:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        progress:
          type: integer
        target:
          type: integer
        rewardGold:
          type: integer

    ContractUpdateRequest:
      type: object
      required: [gameId, stats]
      properties:
        gameId:
          type: string
        stats:
          type: object
          description: VaultFront game stats snapshot

    AbAssignment:
      type: object
      properties:
        variant:
          type: string
        experimentId:
          type: string

    AbEvent:
      type: object
      required: [experimentId, variant, event]
      properties:
        experimentId:
          type: string
        variant:
          type: string
        event:
          type: string
        metadata:
          type: object

    OutcomeEvent:
      type: object
      required: [gameId, outcome]
      properties:
        gameId:
          type: string
        outcome:
          type: string
          enum: [win, loss, draw]
        vaultsCaptures:
          type: integer
        convoysDelivered:
          type: integer
        executionChainsTriggered:
          type: integer
        surgeActivations:
          type: integer
        squadObjectivesEarned:
          type: integer
        matchDurationSeconds:
          type: integer

    FunnelEvent:
      type: object
      required: [event]
      properties:
        event:
          type: string
          enum:
            - game_start
            - first_vault_capture
            - first_convoy_launch
            - first_beacon_pulse
            - game_end_reached
        gameId:
          type: string
        metadata:
          type: object
